---
const navigation = [
  { name: "ABOUT", href: "/about/" },
  { name: "WORKS", href: "/works/" },
  { name: "ACHIEVEMENTS", href: "/achievements/" },
  { name: "CONTACT", href: "/contact/" },
];

const socials = [
  {
    name: "YouTube",
    href: "https://www.youtube.com/@MikuNiki5471",
    icon: "/images/youtube.png",
  },
  {
    name: "X",
    href: "https://x.com/MikuNiki5471",
    icon: "/images/x.png",
  },
  {
    name: "Planet Minecraft",
    href: "https://www.planetminecraft.com/member/mikuniki5471/",
    icon: "/images/planetminecraft.png",
  },
  {
    name: "TikTok",
    href: "https://www.tiktok.com/@MikuNiki5471",
    icon: "/images/tiktok.png",
  },
];

---

<footer
class="relative overflow-hidden bg-[#f6f3eb] text-neutral-800"
>

  <div
    class="
      absolute inset-0 opacity-[0.05]
    "
    style="
      background-image:url('/images/gold-pattern.webp');
      background-size:450px;
    "
  ></div>


  <div
    class="
      relative mx-auto max-w-7xl

      px-3 py-8

      sm:px-6 sm:py-20

      lg:px-8 lg:py-24
    "
  >


    <!-- 下部 -->

    <div
    class="
      mt-12
      sm:mt-20
      lg:mt-24

      border-t
      border-neutral-300

      pt-6
      sm:pt-10
    ">


      <div
      class="
        flex
        flex-col
        items-center
        justify-between

        gap-4
        sm:gap-6

        md:flex-row
      ">


        <div>

          <h3
          class="
            text-2xl
            sm:text-3xl
          "
          style="font-family:'Cormorant Garamond',serif;">
            錦乃 - にしきの
          </h3>


          <p
          class="
            mt-1
            text-xs
            sm:text-sm
            text-neutral-500
          ">
            Official Website
          </p>


        </div>


        <p
        class="
          text-xs
          sm:text-sm
          text-neutral-500
        ">
          © {new Date().getFullYear()} Nishikino All Rights Reserved.
        </p>


      </div>


    </div>


  </div>

</footer>