<section
class="relative overflow-hidden bg-[#f6f3eb] text-neutral-800"
>

  <div
    class="absolute inset-0 opacity-[0.05]"
    style="
      background-image:url('/images/gold-pattern.webp');
      background-size:450px;
    "
  ></div>


  <div
  class="
    relative mx-auto max-w-7xl

    px-3 py-8

    sm:px-6 sm:py-20

    lg:px-8 lg:py-24
  "
  >


    <!-- タイトル -->

    <div class="text-center">

      <p
      class="
        tracking-[0.25em]
        sm:tracking-[0.35em]
        lg:tracking-[0.45em]
        text-[10px]
        sm:text-xs
        uppercase
        text-neutral-500
      "
      >
        INFORMATION
      </p>


      <h2
      class="
        mt-3
        sm:mt-5

        text-3xl
        max-sm:text-6xl
        sm:text-5xl
        lg:text-6xl

        text-neutral-900
      "
      style="font-family:'Cormorant Garamond',serif;"
      >
        瓦版
      </h2>


      <p
      class="
        mx-auto
        mt-5
        sm:mt-8

        max-w-2xl

        text-sm
        sm:text-base

        leading-7
        sm:leading-8

        text-neutral-600
      "
      style="font-family:'Shippori Mincho',serif;"
      >
      </p>

    </div>



    <!-- CTA -->

    <div
    class="
      mt-12
      sm:mt-20
      lg:mt-24

      rounded-[1.5rem]
      sm:rounded-[2rem]
      lg:rounded-[2.5rem]

      border border-white/70

      bg-white/80

      p-5
      sm:p-8
      lg:p-12

      text-center

      backdrop-blur
    "
    >


      <p
      class="
        tracking-[0.25em]
        sm:tracking-[0.35em]

        text-[10px]
        sm:text-xs

        text-neutral-500
      "
      >
        CONTACT
      </p>


      <h3
      class="
        mt-3
        sm:mt-4

        text-xl
        sm:text-3xl
        lg:text-4xl
      "
      style="font-family:'Cormorant Garamond',serif;"
      >
        一緒に、新しい物語を。
      </h3>


      <p
      class="
        mx-auto

        sm:mt-6

        max-w-2xl

        text-sm
        sm:text-base

        leading-7
        sm:leading-8

        text-neutral-600
      "
      >
        「こんなことはできるだろうか」
        そんな小さなアイデアからでも大歓迎です。<br />
        個人・クリエイター・企業・自治体・研究機関など、
        新しい企画やコラボレーションにつながる第一歩として、
        まずはお気軽にお話を聞かせてください。
      </p>



      <a
      href="/contact/"
      class="
        mt-8
        sm:mt-10

        inline-flex

        h-24 w-24
        sm:h-32 sm:w-32
        lg:h-40 lg:w-40

        items-center
        justify-center

        rounded-full

        border
        border-neutral-800

        bg-white

        text-xs
        sm:text-sm

        transition
        duration-500

        hover:-translate-y-2
        hover:shadow-2xl
      "
      >

        ご相談はこちら

      </a>


    </div>


  </div>

</section>