<header class="hero-header">

<a href="/" class="logo font-jp">

錦乃

</a>

<nav>

<a href="/about">

ABOUT

</a>

<a href="/works">

WORKS

</a>

<a href="/profile">

PROFILE

</a>

<a href="/contact">

CONTACT

</a>

</nav>

</header>