<section
  id="hero"
  class="relative min-h-screen overflow-hidden bg-[#140f0d]"
>

  <picture class="absolute inset-0">

    <source
      media="(max-width:768px)"
      srcset="/images/hero-mobile.png"
    />

    <img
      src="/images/78adb63e-2db7-4749-bef0-f032743afcde3.png"
      alt="Hero"
      class="h-full w-full object-cover select-none pointer-events-none"
      draggable="false"
    />

  </picture>

  <div class="absolute inset-0 bg-black/10"></div>

</section>